/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mai 2021, 21:56:22
    Author     : cedric
*/
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    font-size: 20px;
    background-color: #161616;
    opacity: 0.60;

    margin:0; 
}

a.nav{
    text-align: center;
    width: 200px;
    background: none;
    height: max-content;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: initial;
    color: white;
}

a.nav:hover{
    background-color: #6B9394;
}



table{
    border-collapse: collapse;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 10px;
}
td{
    width: 110px;
    padding:  5px;
    
}
tr{
   background-color:#FFF7E2; 
}
tr:nth-child(2n){
    background-color:#FFF7F2;
}
tr:hover{
   background-color:#F7EFE2; 
}

th{
    background-color:#E0AA6A;
}