/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 mai 2021, 21:59:53
    Author     : cedric
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2021, 17:35:30
    Author     : cedric
n
*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color : #FA8072;
    background-color: #FFE4C4;
    font-size: 20px;
    text-align: center;
 
    
}

img.devise{
  width:350px;
  height:120px;
}

img.esme{
  max-width:150px;
  max-height:70px;
  min-width:200px;
  min-height:100px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    font-size: 20px;
    background-color: #161616;
    opacity: 0.60;
    padding-left: 200px;
    margin:0; 
}

a.nav{
    text-align: center;
    width: 200px;
    background: none;
    height: max-content;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: initial;
    color: white;
}
a.nav:hover{
    background-color: #6B9394;
}


footer{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #161616;
    padding: 20px;
}

div.footerinfo{
    width: 40vw;
}

body {
    background-color: #FFFFF0;
}
table{
    border-collapse: collapse;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 10px;
}

td.table{
    width:110px; 
        
    padding:  10px;
    
}
tr.table{
   background-color:#FFF7E2; 
}
tr.table:nth-child(2n){
    background-color:#FFF7F2;
}
tr.table:hover{
   background-color:#F7EFE2; 
}

th{
    background-color:#E0AA6A;
    width: 110px;
    padding:  5px;
}

